@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.cell.clicked {
  cursor: pointer;
}

.cell.clicked:active {
  background-color: gray;
}
