@import "./fontello.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .settings-btn {
    @apply w-8 xs:w-10 h-8 xs:h-10 bg-blue-500 border-2 border-black text-xl xs:text-2xl text-center leading-normal xs:leading-relaxed rounded-full cursor-pointer;
  }

  .selected-coordinate {
    @apply bg-gray-800;
  }

  .selected-ship {
    @apply bg-gray-300;
  }

  .hit-cell {
    @apply text-red-500 lg:text-5xl
  }

  .missed-cell {
    @apply text-gray-500 lg:text-4xl
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.clicked {
  cursor: pointer;
}

.cell.clicked:hover {
  background-color: gray;
}

.setup-board,
.game-play-board {
  width: 90vw;
}

.setup-board .cell,
.game-play-board .cell {
  height: calc(90vw / 12);
}

@media (min-width: 420px) {
  .setup-board,
  .game-play-board {
    width: 70vw;
  }

  .setup-board .cell,
  .game-play-board .cell {
    height: calc(70vw / 12);
  }
}

@media (min-width: 576px) {
  .setup-board {
    width: 55vw;
  }

  .setup-board .cell {
    height: calc(55vw / 12);
  }

  .game-play-board {
    width: 40vw;
  }

  .game-play-board .cell {
    height: calc(40vw / 12);
  }
}

@media (min-width: 768px) {
  .setup-board {
    width: 35vw;
  }

  .setup-board .cell {
    height: calc(35vw / 12);
  }
}
