@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.clicked {
  cursor: pointer;
}

.cell.clicked:active {
  background-color: gray;
}

@media (min-width: 375px) {
  .cell {
    height: calc(90vw / 12);
  }
}

@media (min-width: 420px) {
  .cell {
    height: calc(70vw / 12);
  }
}

@media (min-width: 576px) {
  .cell {
    height: calc(55vw / 12);
  }
}

@media (min-width: 768px) {
  .cell {
    height: calc(35vw / 12);
  }
}
